
@{
    ViewData["Title"] = "Contact";
}

<h2>Contact Me</h2>
<form>
    <div class="container">
        <div class="row">
            <label for="email">
                Email:
                <input type="email" placeholder="Enter your e-mail" />
            </label>
        </div>
        <div class="row">
            <label for="name">
                Name:
                <input type="text" placeholder="Enter your name" />
            </label>
        </div>
        <div class="row">
            <label for="surname">
                Surname:
                <input type="text" placeholder="Enter your surname" />
            </label>
        </div>
        <div class="row">
            <button class="btn btn-warning" type="submit">Submit your form</button>
        </div>
    </div>
</form>